@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Overpass&family=IBM+Plex+Mono&family=Story+Script&family=Kanit&Poppins&family=Cormorant+Garamont&family=Quicksand&family=Exo+2&Changa+One&display=swap');

body {
  background: #333;
  color: white;
  font-family: 'IBM Plex Mono';
} 

.adminPainel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.adminOptions {
  border: solid orangered;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.data {
  border: solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-ban {
  border: solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adminPainel .roles button {
  width: 30px;
  height: 30px;
}

.adminPainel #roles svg {
  width: 100%;
  height: 100%;
}
