* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

body {
    padding: 20px;
    background: #004aad;
}

:root {
    font-family: 'Inter';
}

.flexLogo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.flexLogo a {
    width: 50px;
    height: 50px;

    & svg {
        width: 100%;
        height: 100%;
    }
}

.container {
    display: flex;
    margin-top: 10dvh;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    text-align: center;

    & .boxContainer {
        width: 100%;
        display: flex;
        justify-content: space-around;

        & .box1, .box2 {
            display: flex;
            flex-direction: column;
            gap: 20px;
        border-radius: 90px;
        padding: 15px;
        max-width: 450px;
        align-items: center;
        justify-content: center;

        & .modules {
            display: flex;
            flex-direction: column;
        }
    }
    }
}

button {
    display: flex;
    gap: 8px;
    align-items: center;
    border: solid black;
    background: white;
    border-radius: 10px;
    font-weight: 700;
    color: black;
    padding: 5px;
}

button:hover {
    transform: scale(1.1);
}

button a {
    width: 25px;
    height: 25px;
}

button a svg {
    width: 100%;
    height: 100%;
}

.box1:hover, .box2:hover {
    transform: scale(1.1);
    box-shadow: #ffffff 1px 1px 1px;
}


@media screen and (max-width: 768px){
    .boxContainer {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .box1:hover, .box2:hover {
        box-shadow: none;
    }
}
