body {
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Inter';
}

.flexLogo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.flexLogo a {
    width: 50px;
    height: 50px;

    & svg {
        width: 100%;
        height: 100%;
    }
}

.container {
    display: flex;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    text-align: center;

    & .boxContainer {
        width: 100%;
        display: flex;
        justify-content: space-around;

        & .box1, .box2 {
            display: flex;
            flex-direction: column;
            gap: 15px;
        border: solid black;
        border-radius: 15px;
        padding: 5px;
        max-width: 400px;
        align-items: center;
        justify-content: center;

        & .modules {
            display: flex;
            flex-direction: column;
        }
    }
    }
}
