
body, html {
  height: 100%;
    margin: 0;
    padding: 0;
      }
  
      .logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        position: fixed;
        background: green;
        z-index: 100;
      }
      
      .logo img {
        width: 120px;
        height: auto;
      }
      
      .logo nav {
        display: flex;
        gap: 150px;
        justify-content: center;
        align-items: center;
        flex: 1;
      }
      
      .logo nav a img {
        width: 40px;
        height: auto;
        transition: transform 0.3s ease;
        border: solid white;
        border-radius: 30px;
        padding: 10px;
      }
      
      .logo nav a img:hover {
        transform: scale(1.2);
      }
  
   #map { 
    height: 100%; 
    width: 100%; 
    z-index: 98;
  }
  
  #divPesquisa {
    position: fixed;
    margin-top: -28%;
    display: flex;
    flex-direction: column;
    margin-left: 0.5%;
     gap: 10px;
    z-index: 100;
  }
  
  #divPesquisa svg{
   margin-top: 20%;
  }
  
  #abrirSideBar {
   height: 40px;
    width: 40px;
    border-radius: 30px;
    background: white;
    border: solid black;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  
  #ativarInput {
    height: 40px;
    width: 40px;
    border-radius: 30px;
    background: white;
    border: solid black;
  }
  
  #ativarInput img {
    width: 100%;
  }
  
  #inputEcoPonto {
    border: solid black;
    border-radius: 30px;
    height: 30px;
    margin-top: 2%;
    display: none;
    font-size: 16px;
  }
  
  @keyframes ativaInput {
     from {
      width: 0%;
      opacity: 0.5;
    }
    to {
      width: 70%;
      opacity: 1;
    }
  }
  
  @keyframes desativaInput {
  from {
      width: 70%;
      opacity: 1;
    }
    to {
      width: 0%;
      opacity: 0.5;
    }
  }
  
  .inputEcoPontoAtiva {
    animation: ativaInput 0.8s ease-in-out forwards;
  }
  
  .inputEcoPontoDesativa {
    animation: desativaInput 0.8s ease-in-out forwards;
  }
  
  .divisoria {
    height: 80px;
  }
  
  .leaflet-left {
    margin-top: 10%;
    position: fixed;
    height: 20%;
  }
  
  #sidebar {
    position: absolute;
    width: 20%;
    margin-top: -35.5%;
    margin-left: 78%;
    max-height: 73%;
    overflow-y: auto;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
    z-index: 100;
  }
  
  #sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  #sidebar li {
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid #ddd;
  }
  #sidebar li:hover {
    background: #f0f0f0;
  }
  
  #fecharSidebar {
    background: transparent;
    border: none;
    float: right;
    cursor: pointer;
    font-size: 18px;
  }
  
  #voltarBtn {
    margin-top: 10px;
    display: none;
  }
  #tituloEcopontos, #listaEcopontos {
    display: none;
  }


@media screen and (max-width: 768px) {

    body, html {
height: 100%;
  margin: 0;
  padding: 0;
    }

    .logo {
      background: green;
      display: flex;
      z-index: 100;
      position: fixed;
    }
    
    .logo img {
      width: 17%;
    }
    
    #imgLogo {
      border: solid white 3px;
    }
    
    .menuLateral {
      margin-top: 3.5%;
    }
    
    .menuLateral img {
      width: 90%;
    }
    
    .logo nav {
      display: flex;
      gap: 7px;
      margin-top: 4.1%;
      margin-left: 5%;
    }
    
    .logo nav img {
      width: 49%;
    }
    

 #map { 
  height: 100%; 
  width: 100%; 
  z-index: 98;
}

#divPesquisa {
  position: fixed;
  margin-top: -20%;
  display: flex;
  margin-left: 2%;
   gap: 10px;
  z-index: 100;
}

#divPesquisa svg{
 margin-top: 20%;
}

#abrirSideBar {
 height: 40px;
  width: 40px;
  border-radius: 30px;
  background: white;
  border: solid black;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#ativarInput {
  height: 40px;
  width: 40px;
  border-radius: 30px;
  background: white;
  border: solid black;
}

#ativarInput img {
  width: 100%;
}

#inputEcoPonto {
  border: solid black;
  border-radius: 30px;
  height: 30px;
  margin-top: 2%;
  display: none;
  font-size: 16px;
}

@keyframes ativaInput {
   from {
    width: 0%;
    opacity: 0.5;
  }
  to {
    width: 70%;
    opacity: 1;
  }
}

@keyframes desativaInput {
from {
    width: 70%;
    opacity: 1;
  }
  to {
    width: 0%;
    opacity: 0.5;
  }
}

.inputEcoPontoAtiva {
  animation: ativaInput 0.8s ease-in-out forwards;
}

.inputEcoPontoDesativa {
  animation: desativaInput 0.8s ease-in-out forwards;
}


.leaflet-left {
  margin-top: 19%;
  position: fixed;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.leaflet-touch .leaflet-bar {
  border: transparent;
}

.leaflet-control-zoom-out,
.leaflet-control-zoom-in {
  border: solid black;
}

.leaflet-bar a:last-child,
.leaflet-bar a:first-child {
  border-bottom: solid black;
  height: 35px;
  width: 35px;
  border-radius: 20px;
}

.leaflet-touch .leaflet-bar a:first-child,
.leaflet-touch .leaflet-bar a:last-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#sidebar {
  position: absolute;
  top: 80px;
  right: 10px;
  width: 168px;
  max-height: 80%;
  overflow-y: auto;
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
  z-index: 100;
}

#sidebar ul {
  list-style: none;
  padding: 0;
}

#sidebar li {
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}
#sidebar li:hover {
  background: #f0f0f0;
}

#fecharSidebar {
  background: transparent;
  border: none;
  float: right;
  cursor: pointer;
  font-size: 18px;
}

#voltarBtn {
  margin-top: 10px;
  display: none;
}
#tituloEcopontos, #listaEcopontos {
  display: none;
}

}