@media screen and (max-width: 768px) {

    body {
margin: 0;
    }

    .logo {
      background: green;
      display: flex;
    }
    
    .logo img {
      width: 17%;
    }
    
    #imgLogo {
      border: solid white 3px;
    }
    
    .menuLateral {
      margin-top: 3.5%;
    }
    
    .menuLateral img {
      width: 90%;
    }
    
    .logo nav {
      display: flex;
      gap: 7px;
      margin-top: 4.1%;
      margin-left: 5%;
    }
    
    .logo nav img {
      width: 49%;
    }
    

 #map { 
  height: 100vh; 
  width: 100%; 
  z-index: 98;
}

#divPesquisa {
  position: relative;
  margin-top: -40%;
  display: flex;
  margin-left: 5%;
  gap: 10px;
  z-index: 100;
}

#ativarInput {
  height: 40px;
  width: 40px;
  border-radius: 30px;
  background: white;
  border: solid black;
}

#ativarInput img {
  width: 100%;
}

#inputEcoPonto {
  border: solid black;
  border-radius: 30px;
  height: 30px;
  margin-top: 2%;
  display: none;
  font-size: 16px;
}

@keyframes ativaInput {
   from {
    width: 0%;
    opacity: 0.5;
  }
  to {
    width: 70%;
    opacity: 1;
  }
}

@keyframes desativaInput {
from {
    width: 70%;
    opacity: 1;
  }
  to {
    width: 0%;
    opacity: 0.5;
  }
}

.inputEcoPontoAtiva {
  animation: ativaInput 0.8s ease-in-out forwards;
}

.inputEcoPontoDesativa {
  animation: desativaInput 0.8s ease-in-out forwards;
}


.leaflet-left {
  margin-top: 3%;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.leaflet-touch .leaflet-bar {
  border: transparent;
}

.leaflet-control-zoom-out,
.leaflet-control-zoom-in {
  border: solid black;
}

.leaflet-bar a:last-child,
.leaflet-bar a:first-child {
  border-bottom: solid black;
  height: 35px;
  width: 35px;
  border-radius: 20px;
}

.leaflet-touch .leaflet-bar a:first-child,
.leaflet-touch .leaflet-bar a:last-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

}