@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Story+Script&family=Kanit&family=Poppins&family=Cormorant+Garamont&family=Quicksand&Changa+One&display=swap');

body, html {
background: white;
font-family: 'Nunito';
align-items: center;
text-align: center;
height: 100%;
}

#fontSize {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.inputsDefSombraLados {
    display: flex;
}

.optionsFont h3 {
    border: solid gray 2px;
    box-shadow: black 1px 1px 2px;
    border-radius: 10px;
    padding: 10px;
}

#fontStyle {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}


#confirmFont {
    padding: 5px;
    background: rgb(0, 255, 8);
    color: white;
    text-shadow:  black 1px 2px 1px;
    border-radius: 10px;
    font-family: "Nunito";
    font-size: 18px;
}

.fonte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 15%;
}

h3 svg {
    width: 100%;
    height: 100%;
}

h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

h3 button {
    position: absolute;
    width: 35px;
    height: 35px;
    background: transparent;
    border: solid black;
    border-radius: 30px;
    align-self: self-end;
}

select {
    border: solid gray;
    box-shadow: black 1px 1px 2px;
    border-radius: 5px;
    padding: 3px;
    font-family: "Lucida Sans";
    font-weight: bold;
}

select option {
   background: none;
   
}

.testecor {
  background: #e5e0e0;
}

input[type='color'] {
    border: solid gray 2px;
    padding: 0;
    background: none;
    width: 80%;
    border-radius: 5px;
}

input[type="color"].inputDisabled {
  background-color: #e5e0e0;
  border:solid transparent;
}

#divCorTextShadow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#demoFonteDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    resize: vertical;
}

#demoFonte {
   width: 30%;
   display: block;
}

#btnVoltar svg {
    width: 100%;
    height: 100%;
}

#btnVoltar {
    border-radius: 30px;
    border: solid black;
    width: 50px;
    height: 50px;
}

.background {
    border: solid black;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-self: center;
    width: 80%;
}

.background #user {
    background: #edebeb;
    padding: 6px 20px;
    align-self: self-end;
    border-radius: 10px;
    margin-right: 5%;
    border: none;
}

.background #bot {
    align-self: self-start;
    padding: 6px 20px;
    margin-left: 5%;
}

.background .inputsFundoBackground {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.background span {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#divisoria {
    width: 100%;
    border: solid black 1px;
}

