body {
  font-family: 'Lucida Sans', sans-serif;
  background: #333;
  color: white;
  height: 100%;
}

header {
  background: #222;
  border-radius: 10px;
  z-index: 100;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#divisoria {
  height: 80px;
}

main section:hover {
  transform: scale(1.05);
}

.logo img {
  width: 100px;
}

.logo nav {
  display: flex;
  gap: 150px;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.logo nav a img {
  width: 30px;
  height: auto;
  transition: transform 0.3s ease;
  border: solid white;
  border-radius: 30px;
  padding: 10px;
}

.logo nav a img:hover {
  transform: scale(1.2);
}

#divPesquisa {
  position: relative;     
  display: flex;
  align-items: center;
  background:white;
  border: solid #333;
  box-shadow: black 1px 2px 1px;
  gap: 10px;
  border-radius: 8px;
  z-index: 200; 
  padding: 5px;
  width: 30%;
  margin-top: 1%;
  justify-content: center;
  
}

#divPesquisa button {
  width: 35px;
  height: 35px;
  border: solid black;
  border-radius: 20px;
  padding: 2px;
}

#divPesquisa button svg {
  width: 100%;
  height: 100%;
}

#divPesquisa #inputEcoPonto {
  border: solid black;
  padding: 3px;
  border-radius: 10px;
  width: 50%;
}

main {
  padding-top: 2%;
}

#map {
  width: 100%;
  height: 100%;
  justify-self: center;
  position: absolute;
  z-index: 99;
}

#sidebar {
  position: relative;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1%;
  max-height: 480px;   
  overflow-y: auto;
  background: #fff;
  color: black;
  padding: 5px;
  border-radius: 8px;
  border: none;
  z-index: 200;
}

#sidebar #fecharSidebar {
  align-self: self-start;
}

#sidebar input {
  width: 90%;
  border: solid black;
  border-radius: 10px;
  padding: 3px;
}

.buscaBairroDiv {
  display: flex;
  gap: 10px;
}

#sidebar h3 {
  text-align: center;
}

#sidebar ul {
  display: flex;
flex-direction: column;
gap: 8px;
margin-left: -5%;
}

#sidebar li {
  border-bottom: solid black 1px;
  color: rgb(111, 104, 104);
  text-align: start;
  cursor: pointer;
}

#sidebar li:hover {
  transform: scale(1.1);
  color: rgb(6, 88, 6);
}

@keyframes ativaInput {
  from {
   width: 0%;
   opacity: 0.5;
 }
 to {
   width: 40%;
   opacity: 1;
 }
}

@keyframes desativaInput {
from {
   width: 50%;
   opacity: 1;
 }
 to {
   width: 0%;
   opacity: 0.5;
 }
}

.inputEcoPontoAtiva {
 animation: ativaInput 0.8s ease-in-out forwards;
}

.inputEcoPontoDesativa {
 animation: desativaInput 0.8s ease-in-out forwards;
}

@media screen and (max-width: 768px) {

  body,html {
    padding: 0;
    margin: 0;
  }

  header {
    padding: 10px;
    align-items: center;
  }

  .logo {
    background: green;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .logo nav {
  display: flex;
  gap: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .logo #imglogo {
     width: 25%;
  }

  .logo nav a img {
    width: 30px;
    height: auto;
    border: solid white;
    border-radius: 90px;
    padding: 10px;
  }

   #map { 
    height: 100%; 
    width: 100%; 
    z-index: 98;
  }
  
  
.zoomDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.zoomDiv button {
  border: solid black;
  width: 30px;
  height: 30px;
}
  
  #divPesquisa svg{
   width: 100%;
   height: 100%;
  }
  
  #abrirSideBar {
   height: 45px;
    width: 45px;
    border-radius: 30px;
    background: white;
    border: solid black;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  
  #ativarInput {
    height: 45px;
    width: 45px;
    border-radius: 30px;
    background: white;
    border: solid black;
  }
  
  #ativarInput img {
    width: 100%;
  }
  
  #inputEcoPonto {
    border: solid black;
    border-radius: 30px;
    height: 30px;
    display: none;
    font-size: 16px;
  }

  
  .divisoria {
    height: 80px;
  }

  .sidebarActive {
    display: none;
  }
  
  #sidebar {
  width: 90%;          /* ocupa toda a largura da divPesquisa */
  max-height: 300px;    /* limite de altura com scroll */
  overflow-y: auto;
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
  z-index: 100;
}

.flexColumnSidebar {
  display: flex;
  flex-direction: column;
}

  
  #sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  #sidebar li {
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid #ddd;
  }
  #sidebar li:hover {
    background: #f0f0f0;
  }
  
  #fecharSidebar {
    background: transparent;
    border: none;
    float: right;
    cursor: pointer;
    font-size: 18px;
  }
  
  #voltarBtn {
    display: none;
  }
  #tituloEcopontos, #listaEcopontos {
    display: none;
  }


}