:root {
    font-family: 'Inter';
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    text-shadow: #333 1px 1px 1px;
}

body {
    padding: 15px;
    background: green;
}

.logo {
display: flex;
flex-direction: column;
gap: 3px;
align-items: center;
margin-top: 5dvh;
}

.logo a {
    width: 50px;
    height: 50px;
}

.logo a img {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 5dvh;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    text-align: center;

    & .boxContainer {
        width: 100%;
        display: flex;
        justify-content: space-around;

        & .box1, .box2 {
            display: flex;
            flex-direction: column;
            gap: 15px;
        border-radius: 90px;
        padding: 15px;
        max-width: 450px;
        align-items: center;
        justify-content: center;

        & .modules {
            display: flex;
            flex-direction: column;
        }
    }
    }
}

.box1:hover, .box2:hover {
    transform: scale(1.1);
    box-shadow: #ffffff 1px 1px 1px;
}

button {
    border: solid black;
    border-radius: 20px;
    background: white;
    padding: 5px;
    color: white;
    background: #333;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}

button:hover {
    transform: scale(1.1);
}

button img {
    width: 20%;
    height: 100%;
}

@media screen and (max-width: 768px){
    .boxContainer {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .box1:hover, .box2:hover {
        box-shadow: none;
    }
}